.menuLink{
    padding:5px;
    display: block;
}
.nav-link{
    padding:10px;
    color: #edf7f6;
    font-weight:'bolder';
    display: block;
}
.log-out{
    display: inline-flex;
    padding:15px !important;
    background-color: #ff6732 !important ;
    font-weight:bolder;
    text-decoration: underline;
    width: fit-content !important;
    height: fit-content !important;
    cursor: pointer;
    right: 5px;
    top: 5px;
    position: fixed !important;
}
.center-text{
    text-align: center;
}
.dialog-title{
    text-align: center;
    background-color: #6B5B95;
    color: white;
}
.dialog-content{
    background-color: #F7CAC9;
}
.input-field{
  text-decoration-color: #000000;
  border-color:gray;
  border-radius: 5px;
}
.date-pickers-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card-style{
    box-shadow: 1;
    border-radius: 5px;
    padding: 2px;
    width: auto;
    background-color: #bbdefb;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card:hover{
    cursor: pointer;
    background-color: #90caf9;
}