.container {
  height: 100% !important;
  margin-top: 80px !important;
}
.box {
  margin-top: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.avatar {
  background-color: #87ceeb !important;
  border: 1px solid #fff;
  height: 100px !important;
  width: 100px !important;
  margin: 10px !important;
}
.logo {
  height: 70% !important;
  width: 70% !important;
}
.header {
  color: #fff !important;
  font-size: larger !important;
  font-weight: bolder !important;
}
.textField {
  background-color: #87ceeb !important;
}
.button {
  margin-top: 24px !important;
  margin-bottom: 16px !important;
  color: #fff !important;
  background-color: #87ceeb !important;
  font-size: larger !important;
  font-weight: bolder !important;
}
